:host {
  --vc-background: var(
    --ha-card-background,
    var(--card-background-color, white)
  );
  --vc-spacing: 10px;
  --vc-divider-color: var(--entities-divider-color, var(--divider-color));
  --vc-primary-text-color: var(--primary-text-color);
  --vc-secondary-text-color: var(--secondary-text-color);
  --vc-primary-select-background: color-mix(in srgb, var(--primary-color) 15%, var(--vc-background));


  --primary-color: #89B3F8;
  --light-theme-background: #fff;
  --dark-theme-background: #1d1d1d;
}

@keyframes pulse {
  from { opacity: 1; }
  50% { opacity: 0.5; }
  to { opacity: 1; }
}

ha-card {
  background-color: var(--vc-background);
  .spacer {
    flex: 1
  }

  .slow-pulse {
    animation: pulse 4s infinite ease-in-out;
  }

  .header {
    display: flex;
    padding: var(--vc-spacing);

    .tip {
      margin-right: var(--vc-spacing);
      cursor: pointer;

      &:last-child {
        margin-right: 0;
      }
    }
    .modes {
      display: flex;
      margin: 0 auto;
      flex-direction: row;
      justify-content: space-evenly;
    }
  }

  .errors {
    color: var(--error-color);
    text-align: center;
  }

  .state {
    padding: var(--vc-spacing);
    color: var(--vc-secondary-text-color);
    text-align: center;
  }

  .stats {
    border-top: 1px solid var(--vc-divider-color);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: var(--vc-secondary-text-color);

    .stats-value {
      color: var(--vc-primary-text-color);
    }
  }

  .stats-block {
    cursor: pointer;
    padding: var(--vc-spacing) 0px;
    text-align: center;
    border-right: 1px solid var(--vc-divider-color);
    flex-grow: 1;

    &:last-of-type {
      border-right: 0px;
    }
  }

  .stats-value {
    font-size: 20px;
    color: var(--vc-primary-text-color);
  }

  .actions {
    display: flex;
    border-top: 1px solid var(--vc-divider-color);

    paper-button {
      color: var(--vc-toolbar-text-color);
      display: flex;
      align-items: center;
      margin-right: 10px;
      padding: 15px 10px;
      cursor: pointer;

      & ha-icon {
        margin-right: 5px;
      }
    }
  }
}